<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow" />
  <meta name="description" content="Realtime Stream - Redirect terminal streams to a remote server so anyone with the link can view them in realtime.">
  <meta property="og:title" content="Realtime Stream">
  <meta property="og:description" content="Realtime Stream - Redirect terminal streams to a remote server so anyone with the link can view them in realtime.">
  <link href="/static/style.css" rel="stylesheet" id="style-link">
  <title>Realtime Stream: API Reference</title>
</head>

<body id="body">
  <style>
    div.content {
      width: 960px;
      margin: auto;
    }
  </style>
  <div class="content">
    <div class="wrapper">
    <header>
      <h1>Realtime Stream: API Reference</h1>
    </header>

    <br><br><br>

    This is a tool to redirect terminal streams to so everyone with the link will be able to access them. Below is a list of API endpoints with examples.

</body>
</html>
